@page
@model MyWebApp.Pages.GamesCatalog.CreateModel

@{
    ViewData["Title"] = "Добавить новую";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Добавить новую</h1>

<h4>Игры</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Games.NameOfTheGame" class="control-label"></label>
                <input asp-for="Games.NameOfTheGame" class="form-control" />
                <span asp-validation-for="Games.NameOfTheGame" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Games.Price" class="control-label"></label>
                <input asp-for="Games.Price" class="form-control" />
                <span asp-validation-for="Games.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Games.QuantityAvailable" class="control-label"></label>
                <input asp-for="Games.QuantityAvailable" class="form-control" />
                <span asp-validation-for="Games.QuantityAvailable" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Games.Avalible" /> @Html.DisplayNameFor(model => model.Games.Avalible)
                </label>
            </div>
            <div class="form-group">
                <input id="color-button" type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a id="color-link" asp-page="Index">Вернуться</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
