@page
@model MyWebApp.Pages.Users.DeleteModel

@{
    ViewData["Title"] = "Удалить";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Внимание</h1>

<h3>Вы уверены, что хотите удалить эту учетную запись?</h3>
<div>
    <hr />

    <form method="post">
        <input type="hidden" asp-for="AspUserShow.Id" />
        <input type="submit" value="Удалить пользователя" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-primary">Вернуться к списку</a>
    </form>
</div>
