@page
@model PrivacyModel
@{
    ViewData["Title"] = "О проекте";
}
<h1>@ViewData["О проекте"]</h1>

<h1>Информация о проекте</h1>
<p>Этот проект сделан в рамках курсовой работы</p>
<p>Студентом РИВ-220908у</p> 
<h5>Мусиновым Георгием Олеговичем</h5>
