@page
@using Microsoft.AspNetCore.Identity
@using MyWebApp.Data.Identity
@inject SignInManager<ApplicationIdentityUser> SignInManager



@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">KOTS Games</h1>
    <p>Вы находитесь на главной странице проекта</p>
</div>


@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Admin"))
    {
        <h1> Привет, админ</h1>
    }
    else if (User.IsInRole("Client"))
    {
        <h1> Добро пожаловать, клиент</h1>
    }
    else if (User.IsInRole("Editor"))
    {
        <h1> Здравствуй, редактор</h1>
    }
}
else
{
    <span>Вы не вошли в учетную запись</span>
}


